!!!
%html
  %head
    %title Shothere | #{I18n.t "title.sentence"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "#"} Shothere
            .nav-collapse.collapse
              %ul.nav
                %li.active
                  %a{:href => "#/"} Home
                %li
                  %a{:href => "#/about"} About
                %li
                  %a{:href => "#/contact"} Contact
              %form.navbar-form.pull-right
                %input.span2{:placeholder => "Email", :type => "text"}/
                %input.span2{:placeholder => "Password", :type => "password"}/
                %button.btn{:type => "submit"} Sign in
            / /.nav-collapse
      #body
        / Devise flash msgs
        - unless alert.nil?
          %p.notice= notice
        - unless alert.nil?
          %p.alert= alert
        #search
          %input#searchbox
        = yield
        = yield :body
      #footer
        = yield :footer
      
