!!!
%html
  %head
    - set_meta_tags :title => 'The awesome rails app',
      :viewport => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    = display_meta_tags :site => "ShotHere"
    = stylesheet_link_tag    "application-all", :media => "all"
    = stylesheet_link_tag    "application-mobile", :media => "(max-device-width: 1279px)"
    = requirejs_include_tag "start"
    = csrf_meta_tags
  %body.pure-skin-shothere
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type=>"button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href=>"/"} ShotHere
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/"} Home
              %li.active
                %a{:href => "/about"} About
              %li.active
                %a{:href => "/about"} Contact
    #layout.pure-g-r
      #main.pure-u-1
        #map
      %a#sidebarLink.pure-menu-link.top.left{:data => "#sidebar"}
        %span
      #sidebar.pure-u
        #search.l-box
          %i.icon-search.absolute-left
          %input#searchbox{:type => 'text', :name => 'search'}
        .l-box
          = yield
    #overlay.container
      .message= "#{I18n.t "wait"}"