!!!
%html
  %head
    - set_meta_tags :title => 'The awesome rails app',
      :viewport => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    = display_meta_tags :site => "ShotHere"
    = stylesheet_link_tag    "application-all", :media => "all"
    = stylesheet_link_tag    "application-mobile", :media => "(max-device-width: 1279px)"
    = requirejs_include_tag
    = csrf_meta_tags
  %body
    #starting
      .message Loading...
    #map
    #search.pull-right
      %i.icon-search.absolute-left.middle
      %input#searchbox{:type => 'text', :name => 'search'}
    #page
      #body
        / Devise flash msgs
        - unless alert.nil?
          %p.notice= notice
        - unless alert.nil?
          %p.alert= alert
        = yield
        = yield :body
      #footer
        = yield :footer
    #overlay.container
      .message= "#{I18n.t "movie.loading"} #{I18n.t "wait"}"
    :coffeescript
      require ['jquery', 'application'], ($) ->
        $ ->
          Shothere.App.start {}
