!!!
%html
  %head
    - set_meta_tags :title => 'The awesome rails app',
      :viewport => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    = display_meta_tags :site => "ShotHere"
    = stylesheet_link_tag    "application-all", :media => "all"
    = stylesheet_link_tag    "application-mobile", :media => "(max-device-width: 1279px)"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.pure-skin-shothere
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a#toggleSidebar.sidebarLink.top.left{:data => "#sidebar"}
            %button.btn.btn-navbar
              %span.icon-align-justify
          %button#toggleSearch.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type=>"button"}
            %span.icon-search
          %a.brand{:href=>"/"} ShotHere
          #loading.pull-left= I18n.t "movie.loading"
          .nav-collapse.collapse
            #search
              %input#searchbox{:type => 'text', :name => 'search'}
              .loading
                = I18n.t "movie.loading"
                .spinner
                  .spinner-container.container1
                    .circle1
                    .circle2
                    .circle3
                    .circle4
                  .spinner-container.container2
                    .circle1
                    .circle2
                    .circle3
                    .circle4
                  .spinner-container.container3
                    .circle1
                    .circle2
                    .circle3
                    .circle4
    #layout.pure-g-r
      #main.pure-u-1
        #map
      #sidebarMenu
      #sidebar.pure-u
        .l-box
          = yield
    #overlay.container
      .message
        = I18n.t "wait"
        .spinner
          .spinner-container.container1
            .circle1
            .circle2
            .circle3
            .circle4
          .spinner-container.container2
            .circle1
            .circle2
            .circle3
            .circle4
          .spinner-container.container3
            .circle1
            .circle2
            .circle3
            .circle4
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49508352-1', 'shot-shothere.rhcloud.com');
      ga('send', 'pageview');
